[data-theme="light"] {
  /* Available colors */
  --color-granite-grey: #656D5F;
  --color-jelly-bean-blue: #446F8B;
  --color-rose-taupe: #925B64;
  --color-black-coral: #54666E;
  --color-nyanza: #E7FAD9;
  --color-opal: #AACCBB;
  --color-raisin-black: #242423;
  --color-almond: #EFDBCB;
}
