---
export interface Props {
  id: string;
  title: string;
  bg?: string;
  extra_class?: string;
  height: string;
}

const { title, id, bg, extra_class, height } = Astro.props;
---

<section
  id={id}
  class={`${height} ${bg}`}
>
  <div class={`grid grid-cols-2 md:grid-cols-4 gap-4 h-full container mx-auto ${extra_class}`}>
    <slot name="left" />
    <slot name="right" />
    <slot/>
  </div>

</section>